/*** General ***/
body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-weight: 600;
}

h1,h2,h3,h4,h5 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

.banner {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}

#hidden-row {
    display: none;
}

/* Hover */
header:hover #hidden-row{
    display: flex; 
    cursor: pointer;
}
/* .navbar-nav:hover #hidden-row {
    display: flex;
} */

.ab-accessories:hover {
    border-bottom: 2px solid #00439c;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.ab-games {
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 3px;
}

.ab-games:hover {
    animation: move-up 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    border: 2px solid #00439c;
}
@keyframes move-up {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 15px
    }
}

/*** Utility ***/
.h-15px {
    height: 15px;
}
.h-35px {
    height: 35px;
}
.h-50px {
    height: 50px;
}
.h-80px {
    height: 80px;
}
.h-100px {
    height: 100px;
}
.h-200px {
    height: 200px;
}
.h-400px {
    height: 400px;
}
.h-600px {
    height: 600px;
}
.h-700px {
    height: 700px;
}
.ab-bg-grey {
    background-color: #bebcbb;
}
.ab-bg-blue {
    background-color: #161c3b;
}
.ab-bg-foot {
    background-color: #00439c;
}
.round-13 {
    border-radius: 13px;
}

